{% load chart %}

<canvas id="myChart{{id}}" width="{{width}}" height="{{height}}"></canvas>

<script>
var ctx = document.getElementById('myChart{{id|escapejs}}').getContext('2d');
var daneDoWykresow = JSON.parse("{{qs_json|escapejs}}").map(e => e.fields);

var newLabels = daneDoWykresow.map(e => e.data_name);
var newData = daneDoWykresow.map(e => e.data_value);
console.log(daneDoWykresow);
console.log(newLabels);
console.log(newData);

var myChart = new Chart(ctx, {
    type: '{{type|escapejs}}',
    data: 
    {
        labels: newLabels,
        datasets: [{
            label: '',
            data: newData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
    }
}
});
</script>