{% extends 'pdf/base.html' %}

{% load paragraph %}
{% load table %}
{% load chart %}

{% block content %}
    {% comment %} wypisanie dodanego tekstu, tablel i wykresow {% endcomment %}
    {% for object in data %}
        {% if object.category == 'table' %}
            <div class="row">
                <div class="col">
                    {% showTable object.field_names object.data object.type %}
                </div>
            </div>
        {% elif object.category == 'chart' %}
            <div class="row justify-content-center">
                <div class="col">
                    {% showChart object.id object.type object.data 600 300 %}
                </div>
            </div>
        {% elif object.type == 'text' %}
            <div class="row">
                <div class="col">
                    {% showText object.content|bold|italic|strike|new_line object.font_color object.font_size object.font object.align %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row justify-content-end">
        <button type="submit" style="width:250px;" class="btn btn-success mt-3">Wygeneruj dokument PDF</button>
    </div>
    <footer style="height:30px;"></footer>
    {% comment %} {% for text in texts %}
        <div class="row">
            <div class="col">
                {% showText text.content|bold|italic|strike|new_line text.font_color text.font_size text.font text.align%}
            </div>
        </div>
    {% endfor %}
    {% for table in tables %}
        <div class="row">
            <div class="col">
                {% showTable table.field_names table.data table.type %}
            </div>
        </div>
    {% endfor %} {% endcomment %}
{% endblock content %}